<Unit>
	<Upgrade file="godsansshields"/>
	<Defense>
		<Shields front="0.000000"  left="0" right="0" back="0.000000" recharge="0.000000"/>
	</Defense>
	<Upgrade file="shield_4_Level2"/>
	<Upgrade file="isometal"/>
	<Upgrade file="engine_level_3"/>
	<Upgrade file="polymer_hull"/>
	<Upgrade file="mult_shield_regenerator"/>
	<Upgrade file="mult_gun_cooler"/>

	<Mount weapon="DisruptorBeam" size="light medium" x="5.600000" y="-1.600000" z="3.200000"/>
	<Mount weapon="DisruptorBeam" size="light medium" x="-5.600000" y="-1.600000" z="3.200000"/>
	<Mount weapon="HeatSeeker" size="light-missile medium-missile" x="3.600000" y="-1.600000" z="1.200000" ammo="1" volume="161"/>
	<Mount weapon="HeatSeeker" size="light-missile medium-missile" x="-3.600000" y="-1.600000" z="1.200000" ammo="1" volume="161"/>
	<Mount weapon="Dumbfire" size="light-missile medium-missile" x="2.900000" y="-1.600000" z="1.200000" ammo="1" volume="151"/>
	<Mount weapon="Dumbfire" size="light-missile medium-missile" x="-2.900000" y="-1.600000" z="1.200000" ammo="1" volume="151"/>
	<Mount weapon="Neutron" size="special medium heavy Autotracking" x="2.000000" y="-0.200000" z="5.200000"/>
	<Mount weapon="Neutron" size="special medium heavy Autotracking" x="-2.000000" y="-0.200000" z="5.200000"/>
	<Thrust>
		<Engine Afterburner="27481" Forward="7282" Retro="7432" Left="4768" Right="4768" Top="4768" Bottom="4768"/>
		<Maneuver yaw="56426" pitch="68672" roll="82142"/>
	</Thrust>
	<Sound>
	</Sound>

	<Stats mass="36.373" momentofinertia="36.373" fuel="600000000"></Stats>

	<Computer yaw="148.000000" pitch="170.600006" roll="200.200012" afterburner="144" maxspeed="56">
</Computer>

           	<Jump delay="1" jumpenergy="90"/>       
	<Hold volume="18">
	</Hold>
</Unit>
