<vegaconfig>
<variables>
	<section name="server">
		<!-- Each saveperiod (in seconds) the server saves its state and send clients info to account server -->
		<var name="saveperiod" value="7200"/>
		<!-- Time in seconds after which a client is considered disconnected if it has shown no network activity -->
		<var name="clienttimeout" value="20"/>
		<!-- Time in seconds after which a client is disconnected if... -->
		<var name="logintimeout" value="60"/>
		<!-- Tell if we use an account server (really should) -->
		<var name="useaccountserver" value="true"/>
		<!-- Period used between 2 attempts to reconnect to account server if connection has been lost -->
		<var name="reconnectperiod" value="60"/>
		<!-- Temp var used to preserve compatibility... should disappear someday -->
		<var name="missionfile" value="networking.mission"/>
		<!-- Var pointing to the galaxy filename used by ths server -->
		<var name="galaxy" value="milky_way.xml"/>
	</section>
	<section name="network">
		<!-- Update period for units snapshots -->
		<var name="network_atom" value="0.2"/>
		<!-- Update period for planets and nebulas position -->
		<var name="planet_atom"  value="10"/>
		<!-- Update period for damages data -->
		<var name="damage_atom"  value="1"/>
		<!-- IP Address or hostname of account server -->
		<var name="accountsrvip" value="127.0.0.1"/>
		<!--
		<!-- Port which account server is listening to -->
		<var name="accountsrvport" value="6779"/>
		<!-- Port which this server is listening to -->
		<var name="serverport" value="6778"/>
		-->
	</section>

	<section name="data">
		<var name="universe_path" value="universe"/>
		<var name="sharedtextures" value="textures"/>
		<var name="sharedsounds" value="sounds"/>
	</section>
	<section name="general">
		<var name="default_mission" value="mission/exploration/explore_universe.mission"/>
		<var name="galaxy" value="milky_way.xml"/>
		<var name="yaw" value="0"/>			<var name="pitch" value="0"/>			<var name="roll" value="0"/>
		<var name="remove_impossible_downgrades" value="true"/>
		<var name="simulation_atom" value="0.1"/>
		<var name="garbagecollectfrequency" value="20"/>
	</section>

	<section name="AI">
		<var name="autodock" value="true"/>
		<var name="dockOnLoad" value="false"/>
		<var name="kill_factor" value=".2"/>
		<var name="friend_factor" value=".1"/>
		<section name="Targetting">
			<var name="TargetSwitchReactionTime" value=".8"/>
			<var name="TargetSwitchProbability" value=".01"/>
		</section>
		<section name="Firing">
			<var name="MissileProbability" value=".01"/>
		</section>
	</section>
	<section name="cargo">
		<var name="missions_from_cargolist" value="false"/>
		<var name="price_recenter_factor" value=".75"/>
		<var name="max_price_quant_adj" value="5"/>
		<var name="min_price_quant_adj" value="1"/>
		<var name="price_quant_adj_pow" value="1"/>

	</section>
	<section name="physics">
		<!-- for realistic physics
		<var name="game_speed" value="1000"/>
		<var name="game_accel" value=".00002"/>
		-->
		<var name="slide_start" value="3"/>
		<var name="slide_end" value="1"/>
		<var name="speeding_discharge" value=".95"/>

		<var name="ai_pilot_when_in_turret" value="false"/>
		<var name="atmosphereheight" value="10"/>
		<var name="game_speed_lying" value="false"/>
		<var name="gun_speed_adjusted_game_speed" value="false"/>
		<var name="gun_speed" value="1"/>
		<!-- #medium -->
		<var name="game_speed" value="2"/>
		<var name="game_accel" value=".75"/>
		<!-- #end -->
		<var name="FuelUsage" value=".08"/>
		<var name="AfterburnerFuelUsage" value=".3"/>
		<var name="missile_bounce" value="true"/>
		<var name="BouncePercent" value="1"/>
		<var name="NumRunningSystems" value="2"/>
		<var name="InactiveSystemTime" value=".5"/>
		<var name="autodist" value="200"/>
		<var name="hostile_auto_radius" value="1000"/>
		<var name="neutral_auto_radius" value="00"/>
		<var name="friendly_auto_radius" value="0"/>
		<var name="auto_pilot_termination_distance" value="2500"/><!--fixme?-->
		<var name="auto_pilot_planet_radius_percent" value=".6"/>
		<var name="planet_port_size" value="1.6"/>
		<var name="autotime" value="2"/>
		<var name="YearScale" value="160"/>
		<var name="AsteroidDifficulty" value=".05"/>
		<var name="NoFuelThrust" value="1"/>
		<var name="NoFuelAfterburn" value="0"/>
		<var name="nebula_shield_recharge" value=".25"/>
		<var name="Drone" value="b0rken_active"/>
	</section>
	<section name="galaxy">
		<var name="StarRadiusScale" value="1000"/>	
		<var name="CompactnessScale" value="12"/>	
		<var name="MoonRelativeToPlanet" value=".4"/>	
		<var name="MoonRelativeToMoon" value=".8"/>	
		<var name="GasRelativeToPrimary" value=".2"/>	
		<var name="RockyRelativeToPrimary" value=".05"/>	
	</section>
</variables>
</vegaconfig>
