[Desktop Entry]
Categories=Game;Simulation;
Comment[en_US]=3D OpenGL spaceflight simulator
Comment=3D OpenGL spaceflight simulator
Comment[cs]=Hraj 3D vesmírnou simulaci
Comment[es]=Simulador de vuelo espacial 3D/OpenGL
GenericName[en_US]=vegastrike setup
GenericName=vegastrike setup
Exec=vega-settings
Icon=vegastrike_settings.png
MimeType=
Name[en_US]=Setup Vega Strike
Name=Setup Vega Strike
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
