name: 'GH Actions - Release'

on:
  release:
    types:
      - created
      - edited

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    continue-on-error: true

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: false
      matrix:
        include:
          # Source tarballs only
          - FROM:     'ubuntu:focal'
            ARTIFACT_EXT: 'tar.[xb]z*'
          # only build one Deb File b/c they're so large
          - FROM:     'debian:bullseye'
            ARTIFACT_EXT: 'deb'
          - FROM:     'opensuse/leap:15.5'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'opensuse/leap:15.4'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'fedora:40'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'fedora:39'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'fedora:38'
            ARTIFACT_EXT: 'rpm'
          - FROM:     'rockylinux:9.3'
            ARTIFACT_EXT: 'rpm'

    steps:
    - name: Checkout repository
      uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b #v4.1.5
      with:
        fetch-depth: 2
        submodules: false

    - name: Extract tag name and short SHA
      shell: bash
      run: |
        echo "TAG_NAME=$(echo ${GITHUB_REF#refs/tags/} | sed 's/\//_/g')" >> $GITHUB_ENV
        echo "SHORT_SHA=`git rev-parse --short HEAD`" >> $GITHUB_ENV
    - name: Test tag name and short SHA
      run: |
        echo "${TAG_NAME}"
        echo "${SHORT_SHA}"

    - name: Run CI
      env:
        FROM:       ${{ matrix.FROM }}
        COMPILER:   'clang'
        FLAGS:      ''
        MY_OS_NAME: linux
        IS_RELEASE: 1
      run: script/cibuild $FLAGS

    - name: Upload the artifacts
      uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 #v4.3.3
      #uses: skx/github-action-publish-binaries@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ARTIFACT_EXT: ${{ matrix.ARTIFACT_EXT }}
      with:
        args: "packages/*.${{ matrix.ARTIFACT_EXT }}"
