name: Windows-CI
permissions:
    contents: read
    pull-requests: read

on: [ pull_request, workflow_dispatch ]

jobs:
  build:
    name: Build
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os:              windows-2022
            is-release:      0
          - os:              windows-2025
            is-release:      0

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install CMake
        uses: lukka/get-cmake@628dd514bed37cb0a609e84a6186cbbaa2fc0140 #v4.1.2

      - name: Build it
        run: script/build.ps1
